<nav class="navBar">
  <h1 [routerLink]="['/home']" class="navBar__link">HOME</h1>
  <h1 [routerLink]="['/blog']" class="navBar__link">BLOG</h1>
  <h1 [routerLink]="['/about']" class="navBar__link">ABOUT</h1>
  <h1 [routerLink]="['/trainning']" class="navBar__link">Trainning</h1>
</nav>
