@font-face {
  font-family: Baskerville-Bold;
  src: url(../assets/fonts/LibreBaskerville-Bold.ttf);
  font-style: bold;
}

@font-face {
  font-family: Baskerville-Regular;
  src: url(../assets/fonts/LibreBaskerville-Regular.ttf);
  font-style: normal;
}

$main-font: "Rubik", sans-serif;
