@import "./responsive";

$desktopTitles: 4rem;
$tabletTitles: 3rem;
$mobileTitles: 2rem;

$desktopSubTitles: 3rem;
$tabletSubTitles: 2rem;
$mobileSubTitles: 1rem;

$desktopText: 2rem;
$tabletText: 1rem;
$mobileText: 0.5rem;

h1 {
  font-size: $mobileTitles;

  @include tablet {
    font-size: $tabletTitles;
  }

  @include desktop {
    font-size: $desktopTitles;
  }
}

h2 {
  font-size: $mobileSubTitles;

  @include tablet {
    font-size: $tabletSubTitles;
  }

  @include desktop {
    font-size: $desktopSubTitles;
  }
}

p,
li,
label {
  font-size: $mobileText;

  @include tablet {
    font-size: $tabletText;
  }

  @include desktop {
    font-size: $desktopText;
  }
}
