<swiper class="element" [config]="config">
  <div *ngFor="let slide of slides">
    <div>
      <img class="b-img" src="{{ slide }}" />
    </div>
    <!-- <button onclick="goTo(i)">{{ button[i] }}</button> -->
  </div>
</swiper>
